<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="about.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style>
body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("rgcplantation.jpg");
  min-height: 75%;
}

.menu {
  display: none;
}
</style>
<body>

<!-- Header with image -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">
    <span class="w3-tag" style="font-size: 25px">Rotaract Green Club, MUJ</span>
  </div>
  <div class="w3-display-middle w3-center" style="padding-top: 100 px">
<br>
<br>
<br>
<br>
    <span class="w3-text-white" style="font-size:50px; text-shadow: 2px 2px 5px #ff0000;">Rotarians'Corner</span>
  </div>
  <div class="w3-display-bottomright w3-center w3-padding-large">
    <span class="w3-text-white" style="font-size: 25px">Manipal University Jaipur</span>
  </div>
</header>

<!-- Add a background color and large text to the whole page -->
<div class="w3-sand w3-grayscale w3-large">

<!-- About Container -->
<div class="w3-container" id="about">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide" style="font-size: 28px">About the club</span></h5>
    <p>
      The Rotaract Green Club of MUJ was found by a, b on x/y/z. Ever since, it has been a one big family who takes care of the club, who works as a family together in many beautiful events every year. We are the social service club of Manipal University Jaipur, having adopted 5 villages around MUJ: Sanjhariya, Thikariya, Begas, Dehmi Kalan and Dehmi Khurd.
    </p>
    <div class="w3-panel w3-leftbar w3-light-grey">
      <p><i>It is not enough to be compassionate. You must act.</i></p>
      <p>- Dalai Lama</p>
    </div>
    <img src="rgccover2.jpg" style="width:100%;max-width:1000px" class="w3-margin-top">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ornare, ligula sed viverra aliquam, nulla lectus congue velit, sit amet facilisis nisl elit porta ante. Suspendisse ligula turpis, fringilla vitae accumsan vitae, vehicula in nibh. Nunc placerat leo sit amet sagittis tristique. Nulla vitae ante ex. Nunc consequat, risus ullamcorper lobortis tincidunt, felis neque vehicula metus, ac accumsan turpis ipsum sit amet enim. In ullamcorper purus sapien, at faucibus nisi rutrum ullamcorper. Integer mollis nec est vitae tristique.</p>
    <p>Phasellus finibus, elit eget accumsan pulvinar, dolor justo ornare nisl, vel auctor leo felis dignissim leo. Donec massa felis, imperdiet quis luctus sit amet, efficitur faucibus odio. Aliquam erat volutpat. Nunc sagittis sed lorem nec porta. Nam ultrices felis lorem, vitae interdum enim rutrum nec. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla auctor a arcu non hendrerit. In at facilisis magna. Aliquam urna metus, congue nec tincidunt ac, maximus vel lorem. Donec et pellentesque nisi. Sed ornare quam at est ornare, in sagittis dolor pharetra. Vivamus a feugiat leo, vitae aliquet enim.</p>
    <img src="rgcplantation.jpg" style="width:100%;max-width:1000px" class="w3-margin-top">
    <p><i>A successful plantation drive event in Begas as a part of Dan Utsav, October 2019</i></p>
    <p style="font-size: 35px"><strong>Club email:</strong> greenclubmuj@gmail.com</p>
  </div>
</div>


<!-- Contact/Area Container -->
<div class="w3-container" id="where" style="padding-bottom:32px;">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide" style="font-size: 30px">Key members</span></h5>
    <div class="row">
      <div class="col-md-5" ><img src="Shruti di.jpg" style="width:350px;max-width:1000px; height: 350px" class="w3-margin-top">
    <p><i><strong>Shruti Gupta</strong>, President</i></p>
      </div>
    <div class="col-md-1"></div>
      <div class="col-md-5"> <img src="Jayant bhaiya.jpg" style="width:350px;max-width:1000px; height: 350px" class="w3-margin-top">
    <p><i><strong>Jayant Sardana</strong>, Vice President</i></p>
      </div>
    </div>
  </div>
</div>

<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-48 w3-large">
  <p>Developed by: Kartik Soni</a></p>
</footer>

<script>
// Tabbed Menu
function openMenu(evt, menuName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("menu");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-dark-grey", "");
  }
  document.getElementById(menuName).style.display = "block";
  evt.currentTarget.firstElementChild.className += " w3-dark-grey";
}
document.getElementById("myLink").click();
</script>

</body>
</html>